net clk loc = AE14;
net input[7] loc = Y8;
net input[6] loc = Y9;
net input[5] loc = Y10;
net input[4] loc = Y11;
net input[3] loc = Y12;
net input[2] loc = W11;
net input[1] loc = W12;
net input[0] loc = W13; 
net output[7] loc = AB7 ;
net output[6] loc = AB8;
net output[5] loc = AB9;
net output[4] loc = AA9;
net output[3] loc = AA10;
net output[2] loc = AA11;
net output[1] loc = AD12;
net output[0] loc = Y13;
net sel loc = AA21;
net sel2 loc =AA22;